@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Poppins:wght@600&display=swap');

* {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* Image Styling */
img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

html {
  font-size: 80.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #FF9030;
}

section {
  padding: 5rem 10%;
}

/* Headings and subheadings styling */

.heading-link {
  text-align: center;
  background: url(../images/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
}

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}

.heading-link p a {
  color: #FF9030;
}

h3 {
  font-size: 2rem;
}

.heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.musicheading {
  text-align: center;
  padding-top: 9rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #fff;
}

.subheading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #7D7D7D;
}

/* Button styling */

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #FF9030;
  color: #FF9030;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 15px;
}

.btn:hover {
  background: #FF9030;
  color: #fff;
}

.tbtn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #FF9030;
  color: #FF9030;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 15px;
}

.tbtn:hover {
  background: #FF9030;
  color: #fff;
}

.tbtn:focus{
  background: #FF9030;
  color: #fff;
}

.rbtn {
  display: inline-block;
  width: 100%;
  height: 20%;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background: none;
  border: 0.1rem solid #FF9030;
  color: #FF9030;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 15px;
}

.rbtn:hover {
  background: #FF9030;
  color: #fff;
}

.btn-danger {
  background-color: #fff;
  color: #FF9030;
}

.btn-danger:hover {
  background-color: #f04124;
  color: #fff;
}

.tag {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  border: 0.1rem solid #FF9030;
  background: #FFE4CD;
  border-radius: 18px;
  color: #444;
}

.tag:hover{
  background: #444;
  color: #fff;
}

/* navigation bar styling */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
}

.header .logo i {
  color: #FF9030;
}

.header .navbar {
  position: relative;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.header .navbar a:hover {
  color: #FF9030;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}

.header .icons div:hover {
  color: #FF9030;
}

.header #menu-btn {
  display: none;
}

/* Account form styling */

.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}

.account-form.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}

.account-form #close-form:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.account-form form {
  border: 0.1rem solid #FF9030;
  padding: 2rem;
  display: none;
}

.account-form form.active {
  display: block;
}

.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: .5rem;
  text-transform: uppercase;
}

.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #FF9030;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.account-form form .flex {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.account-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}

.account-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}

.account-form form .flex a:hover {
  text-decoration: underline;
  color: #FF9030;
}

.account-form form .btn {
  width: 100%;
  border-radius: 15px;
}

.account-form .buttons .btn {
  margin: 0 .5rem;
}

.account-form .buttons .btn.active {
  background: #FF9030;
  color: #fff;
}

/* "Your subjects" section styling */
.home-courses .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.home-courses .box-container .box {
  padding: 3rem 2rem;
  border-radius: 25px;
  text-align: center;
  border: 0.1rem solid #53D2FB;
  background: #D6F5FF;
  cursor: pointer;
}

.home-courses .box-container .box:hover {
  background: #53D2FB;
}

.home-courses .box-container .box:hover h3 {
  color: #fff;
}

.home-courses .box-container .box:hover p {
  color: #eee;
}

.home-courses .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
}

.home-courses .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}


/* Pop up windows  */
.details{
  width: 100%;
  height: 10vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.popbtn {
  padding: 10px 40px;
  background: #444;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 30px;
}

.popbtn:hover {
  background: #fff;
  color: #444;
}

.popup{
  width:600px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 80%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img{
  width:20%;
  height: 20%;
  margin-top: -50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.popup h2{
  font-size: 2rem;
  margin: 20px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

/* in progress section */
.inprogress .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.inprogress .box-container .box {
  padding: 3rem 2rem;
  border-radius: 25px;
  text-align: center;
  border: 0.1rem solid #FA6F98;
  background: #FFD8E3;
  cursor: pointer;
}

.inprogress .box-container .box:hover {
  background: #FA6F98;
}

.inprogress .box-container .box:hover h3 {
  color: #fff;
}

.inprogress .box-container .box:hover p {
  color: #eee;
}

.inprogress .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
}

.inprogress .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.inprogress .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}


button {
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* To do slide feature styling */
.todo-slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.todo .slide {
  text-align: center;
  position: relative;
  background: #FFE4CD;
  overflow: hidden;
  border-radius: 25px;
}

.todo .slide:hover .content {
  bottom: 0;
  
}

.todo .slide .image {
  padding: 2rem;
  border-radius: 25px;
}

.todo .slide .image img {
  height: 10rem;
  margin-bottom: 1.5rem;
}

.todo .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.todo .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: #FF9030;
  padding: 1rem 2rem;
  border-radius: 25px;
}


.todo .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}

.todo .slide .content p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #eee;
}

.todo .slide .content .btn:hover {
  background: #444;
}

.programming .task-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.programming .task-container .task{
  padding: 3rem 2rem;
  border-radius: 25px;
  text-align: center;
  border: 0.1rem solid #FF9030;
  background: #FFE4CD;
  cursor: pointer;
}

.programming .task-container .task:hover{
  background: #FF9030;
}


.programming .task-container .task p{
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.programming-progress .progress-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.programming-progress .progress-container .progress{
  padding: 3rem 2rem;
  border-radius: 25px;
  text-align: center;
  border: 0.1rem solid #FA6F98;
  background: #FFD8E3;
  cursor: pointer;
}

.programming-progress .progress-container .progress:hover{
  background: #FA6F98;
}

.programming-progress .progress-container .progress img {
  height: 10rem;
  margin-bottom: .7rem;
}

.programming-progress .progress-container .progress p{
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

/* completed readings section */
.completed .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.completed .box-container .box {
  padding: 3rem 2rem;
  border-radius: 25px;
  text-align: center;
  border: 0.1rem solid #5FDA9F;
  background: #ADFFD8;
  cursor: pointer;
}

.completed .box-container .box:hover {
  background: #5FDA9F;
}

.completed .box-container .box:hover h3 {
  color: #fff;
}

.completed .box-container .box:hover p {
  color: #eee;
}

.completed .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
}

.completed .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.completed .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

/* Pomodoro Timer Styling */
.pomodoro-app
{
  border:1px solid #FF9030;
  border-radius :20px;
  width: 80%;
  margin:20px auto;
  padding:20px;
  text-align:center;
  background : #FFE4CD;
}

.timer{ 
  color:#FF9030; 
  font-size:6rem; 
  margin:40px auto;
  border : 5px solid #FF9030;
  border-radius:50%;
  width:250px;
  height:250px;
  overflow:hidden;
  position:relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

.time{
  margin-top:70px;
  z-index : 1;
  position:relative;
  
}

/* Music player styling */
* {
  box-sizing: border-box;
}

.music {
  background-image: linear-gradient(0deg, #FF9030, #FDA24A);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* outer music container */
.music-container {
  background : #FFE4CD;
  border:1px solid #FF9030;
  border-radius :20px;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* music player navigation buttons styling */
.action-btn {
  border: 0;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
  color: #FF9030;
  background: transparent;
}

.action-btn.action-btn-big {
  font-size: 30px;
}

/* Achievement Section */
.profile_img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 0 0 0;
}


.achievement .icons-container {
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.achievement .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #FF9030;
  background: #FFE4CD;
}

.achievement .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  color: #fff;
  background: #FF9030;
}

.achievement .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.achievement .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.achievement .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.achievement .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.achievement .row .image img {
  width: 100%;
}

.achievement .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #FF9030;
  padding: 2rem;
}

.achievement .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}

.achievement .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #FF9030;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.achievement .row form .box:focus {
  background: #FF9030;
  color: #fff;
}

.achievement .row form .box:focus::-webkit-input-placeholder {
  color: #eee;
}

.achievement .row form .box:focus:-ms-input-placeholder {
  color: #eee;
}

.achievement .row form .box:focus::-ms-input-placeholder {
  color: #eee;
}

.achievement .row form .box:focus::placeholder {
  color: #eee;
}

.achievement .row form textarea {
  height: 15rem;
  resize: none;
} */

.topnav input[type=text] {
  padding: 16px;
  border: 0.1rem solid #FF9030;
  width: 500px;
  border-radius: 15px;
  font-size: 17px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


/* Reading List Styling*/

label {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1rem 0.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font-size: 2rem;
}

.table td {
  padding: 0.75rem;
  font-size: 2rem;
;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.readings .accordion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.readings .accordion-container .accordion {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #53D2FB;
}

.readings .accordion-container .accordion.active .accordion-heading {
  background: #53D2FB;
}

.readings .accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}

.readings .accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.readings .accordion-container .accordion.active .accordion-content {
  display: block;
}

.readings .accordion-container .accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}

.readings .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.readings .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #53D2FB;
}

.readings .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid #53D2FB;
  display: none;
}


.logo-container {
  text-align: center;
}

.logo-container img {
  height: 10rem;
  pointer-events: none;
}

/* Footer Styling */
.footer {
  background: #FFE4CD;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #FF9030;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #FF9030;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #444;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #777;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #FF9030;
  text-decoration: underline;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #FF9030;
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #FF9030;
}

.footer .credit span {
  color: #FF9030;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .about .content .about-title {
    font-size: 4rem;
  }
}
